---
import Nav from '../Nav.astro';
import ButtonMode from '../ButtonMode.astro';
import ButtonSize from '../ButtonSize.astro';
const SiteTitle = 'ไทยยูไอ 02';
---

<header
  id='head'
  class='sticky lg:relative top-0 py-4 lg:py-5 px-0 bg-th-head-bg dark:bg-th-head-bg-dark text-th-head-text dark:text-th-head-text-dark leading-[1.8rem] border-b-[3px] lg:border-b-0 border-solid border-th-nav-bg dark:border-th-nav-bg-dark'
>
  <div
    class='w-full max-w-th-width-lg mx-auto px-4 md:px-5 flex items-center gap-4'
  >
    <a
      href='/'
      class='text-[1.6rem] lg:text-[2.4rem] dark:text-th-link-1-dark leading-[1.919rem] md:leading-[2.88rem]'
      title='Home'
    >
      <strong>{SiteTitle}</strong>
    </a>
    <small
      class='hidden lg:block pt-[0.18rem] text-[0.9rem] leading-[1.081rem] opacity-80'
      >ตัวอย่างเทมเพลตเว็บภาษาไทยในรูปแบบ Astro</small
    >
    <div class='flex gap-4 pr-20 lg:pr-0 items-center ml-auto'>
      <ButtonMode />
      <ButtonSize />
    </div>
  </div>
</header>
<Nav />
