@charset "utf-8";
@import 'fonts';
@import 'var';
@import 'reset';
@import 'ini';

// body {
//   background-color: var(--th-bg-2);
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   html.large & {
//     font-size: 2rem;
//   }
// }
h1 {
  margin-top: 1.5em;
}
// main {
//   padding-bottom: var(--th-space);
// }
// .th-content {
//   a {
//     text-decoration: underline;
//     text-decoration-style: dashed;
//     text-decoration-thickness: 0.0625em;
//     text-underline-offset: 0.25em;
//     &:hover {
//       text-decoration-style: solid;
//     }
//   }
// }
