.no-scroll {
  overflow: hidden;
}
// .th-nav {
//   z-index: 900;
//   background-color: var(--th-nav-bg);
//   color: var(--th-nav-text);
//   a {
//     color: var(--th-nav-text);
//     &:hover {
//       color: var(--th-nav-text);
//       opacity: 0.8;
//     }
//   }
// }
// #nav-open {
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
// }
// .nav-toggle {
//   display: flex;
//   align-items: center;
//   gap: 6px;
//   position: fixed;
//   top: 1em;
//   right: 1rem;
//   color: var(--th-head-text);
//   border: 1.5px solid;
//   padding: 2px 6px;

//   border-radius: var(--th-rounded-1);
//   span {
//     font-size: 1rem;
//   }
// }
.nav-content {
  // visibility: hidden;
  // opacity: 0;
  // width: 280px;
  // position: absolute;
  // top: 0;
  // height: 100dvh;
  // right: 0;
  // z-index: 900;
  // box-shadow: var(--th-shadow-2);
  // transform: translateX(100%);
  // background-color: var(--th-nav-bg);
  transition:
    transform 0.4s linear,
    opacity 0.2s linear 0.2s,
    visibility 0s linear 0.4s;
  // padding: 60px 0 0;
  // font-size: 1.125em;
  // > ul {
  //   padding: 0 16px 0 24px;
  //   margin: 0;
  //   height: 100%;
  //   overflow: auto;
  // }
  // li {
  //   list-style: none;
  //   padding: 0.5rem 0;
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   min-height: 40px;
  //   width: 100%;
  // }
  // label {
  //   display: flex;
  //   align-items: center;
  //   gap: 6px;
  // }
  // .close {
  //   border-radius: var(--th-rounded-1);
  //   align-items: center;
  //   display: flex;
  //   border: 1.5px solid;
  //   padding: 3px 6px;
  //   position: absolute;
  //   top: 1em;
  //   right: 1rem;
  //   gap: 6px;
  //   svg {
  //     padding: 2px;
  //   }
  //   span {
  //     font-size: 1rem;
  //     white-space: nowrap;
  //   }
  // }
  // .bg {
  //   position: absolute;
  //   height: 100%;
  //   width: 100vw;
  //   right: 100%;
  //   top: 0;
  //   background-color: rgba(0, 0, 0, 0.5);
  // }
}
#nav-open:checked ~ .th-nav nav {
  transform: translateX(0%);
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  transition-timing-function: cubic-bezier(0, 0.2, 0.25, 1), linear, linear;
}
// li.has-sub {
//   position: relative;
//   padding-right: 30px;
// }
.i-down {
  // position: absolute;
  // top: 0.5em;
  // right: 0;
  // padding: 6px;
  // margin-left: auto;
  // line-height: 0;
  // border: 1px solid;
  // border-radius: var(--th-rounded-1);
  // cursor: pointer;
  // z-index: 1;
  svg {
    // pointer-events: none;
    // transition: 0.3s;
    @media (max-width: 1023px) {
      li.active > & {
        transform: scaleY(-1);
        opacity: 0.8;
      }
    }
  }
}
.sub-menu {
  // visibility: hidden;
  // opacity: 0;
  // padding: 0;
  // margin: 0;
  // height: 0;
  // width: 100%;
  // overflow: hidden;
  // transition: 0.4s ease-out;
  // font-size: 0.8em;
  @media (max-width: 1023px) {
    li.active > & {
      height: auto;
      padding: 10px 0 0;
      opacity: 1;
      visibility: visible;
      transition-timing-function: cubic-bezier(0, 0.2, 0.25, 1), linear, linear;
    }
  }
}
// FOR DESKTOP
@media (min-width: 1024px) {
  // .nav-toggle {
  //   display: none;
  // }
  // .th-nav {
  //   padding: 0;
  //   position: sticky;
  //   top: 0;
  // }
  // .nav-content {
  //   transform: translateX(0%);
  //   opacity: 1;
  //   visibility: visible;
  //   background: none;
  //   box-shadow: none;
  //   width: unset;
  //   position: relative;
  //   top: unset;
  //   right: unset;
  //   height: unset;
  //   padding: unset;
  //   overflow: visible;
  //   > ul {
  //     padding: 0;
  //     height: unset;
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 0 1.5em;
  //     overflow: visible;
  //   }
  //   li {
  //     width: auto;
  //     min-height: 54px;
  //   }
  //   .close,
  //   label {
  //     display: none;
  //   }
  // }
  // .i-down {
  //   border: none;
  //   top: calc(50% - 11px);
  // }
  // .sub-menu {
  //   text-align: left;
  //   top: 100%;
  //   left: -1rem;
  //   position: absolute;
  //   z-index: 10;
  //   height: 0;
  //   background-color: var(--th-nav-bg);
  //   min-width: 180px;
  //   width: max-content;
  //   max-width: 400px;
  //   overflow: hidden;
  //   li {
  //     min-height: unset;
  //   }
  //   a {
  //     display: block;
  //     padding: 0 1rem;
  //   }
  // }
  // li.has-sub {
  //   padding-right: 24px;
  //   &:hover {
  //     .i-down svg {
  //       transform: scaleY(-1);
  //       opacity: 0.8;
  //     }
  //     > .sub-menu {
  //       visibility: visible;
  //       overflow: visible;
  //       height: auto;
  //       opacity: 1;
  //       padding: 16px 0 10px;
  //       transform: translateY(-10px);
  //       z-index: 1;
  //     }
  //   }
  // }
}
