---
const { title, description } = Astro.props;
---
<section class='text-center'>
  <h1 class='text-2xl text-th-text-3 dark:text-th-text-3-dark'>{title}</h1>
  <p class="text-th-text-4 dark:text-th-text-4-dark">{description}</p>
</section>