---
import Image from '../../components/ui/Image.astro';
const { title, description, thumbnail } = Astro.props;
---

<section
  class='max-w-screen w-screen mx-[calc(-50vw_+_50%)] lg:mb-20 lg:h-[340px] bg-th-bg-3 dark:bg-th-bg-3-dark'
>
  <div
    class='w-full width-sm:max-w-th-width-sm max-w-th-width-lg mx-auto -px-4 md:px-5 lg:px-6 xl:px-[30px] pb-0 md:pb-5 lg:pb-6 xl:pb-[30px]'
  >
    <div class='grid lg:grid-cols-2 items-center'>
      <div class='w-full lg:w-[50vw] lg:ml-[calc(-50vw_+_100%)]'>
        <Image
          src='/img/thumbnail-4.jpg'
          classes='w-full lg:h-[340px] object-cover'
          alt='ThaiUI'
        />
      </div>
      <div class='px-4 py-6 lg:py-0 lg:pr-0 lg:pl-16'>
        <h3
          set:html={title}
          class='mb-4 lg:mb-5 text-2xl text-th-text-3 dark:text-th-text-3-dark font-normal'
        />
        <p
          set:html={description}
          class='mb-0 text-th-text-4 dark:text-th-text-4-dark'
        />
      </div>
    </div>
  </div>
</section>
