---
import { Icon } from 'astro-icon';
const { items = [], classes } = Astro.props;
const className = `grid lg:grid-cols-8 gap-8 lg:gap-6 max-w-4xl mx-auto ${classes} w-full width-sm:max-w-th-width-sm mx-auto px-4 md:px-5 lg:px-6 xl:px-[30px] pb-8 md:pb-5 lg:pb-6 xl:pb-[30px]`;
---

{
  items && (
    <div class='mx-[calc(-50vw_+_50%)] py-6 bg-th-bg-4 dark:bg-th-bg-4-dark -mb-4 md:-mb-5 lg:-mb-6 xl:-mb-[30px]'>
      <section class={className}>
        {items.map((i) => (
          <div class='block text-center'>
            <Icon
              name={i.icon}
              width='38px'
              height='38px'
              class='mx-auto dark:fill-white dark:stroke-white dark:text-white'
            />
          </div>
        ))}
      </section>
    </div>
  )
}
