---
const { title, description } = Astro.props;
---

<section class='max-w-xl mx-auto my-20 text-center'>
  <h1 class='mb-5 text-2xl text-th-text-3 font-normal dark:text-th-text-3-dark'>
    {title}
  </h1>
  <p class='mb-0 text-th-text-4 dark:text-th-text-4-dark'>{description}</p>
</section>
