---
const { title, description } = Astro.props;
---

<section class='my-20 text-center'>
  <h1
    class='mb-2 text-[32px] text-th-text-3 font-normal dark:text-th-text-3-dark'
  >
    {title}
  </h1>
  <p class='mb-0 text-th-text-3 dark:text-th-text-3-dark'>{description}</p>
</section>
