---
import Layout from '../layouts/Layout_Sidebar.astro';
import Side from '../components/about/Side.astro';
export async function getStaticPaths() {
  const posts = await Astro.glob('../data/about/*.md');
  return posts.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: { ...post },
    };
  });
}
const title = 'เกี่ยวกับเรา';
const description = 'เกี่ยวกับไทยยูไอและตัวอย่างโค้ดแอสโตร';
---

<Layout title={title} description={description}>
  <aside slot='aside' class='order-2 md:order-1'>
    <Side />
  </aside>
  <h1 class='mt-0'>เกี่ยวกับไทยยูไอ</h1>
  <p>เร็วๆ นี้</p>
</Layout>
