---

---

<button
  class='th-size p-0 border-0 leading-4 bg-transparent bg-none text-inherit ease-in-out duration-300 hover:cursor-pointer hover:scale-110'
  title='Font Size Toggle'
>
  <span
    class='s flex gap-0.5 items-center justify-center size-m:hidden size-l:hidden size-s:flex'
    >ก<small>+</small></span
  >
  <span class='m hidden gap-0.5 items-center justify-center size-m:flex'
    >ก<small>+</small></span
  >
  <span class='l hidden gap-0.5 items-center justify-center size-l:flex'
    >ก<small>-</small></span
  >
</button>

<script>
  const size = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('size')) {
      return localStorage.getItem('size');
    }
    return 's';
  })();
  const e = document.documentElement;
  if (size === 'l') {
    e.classList.add('size-l');
  } else if (size === 'm') {
    e.classList.remove('size-l');
    e.classList.add('size-m');
  } else {
    e.classList.remove('size-l');
    e.classList.remove('size-m');
  }
  window.localStorage.setItem('size', size);
  const ToggleSize = () => {
    const e = document.documentElement;
    if (e.classList.contains('size-l')) {
      localStorage.setItem('size', 's');
      e.classList.remove('size-l');
      e.classList.remove('size-m');
    } else if (e.classList.contains('size-m')) {
      localStorage.setItem('size', 'l');
      e.classList.add('size-l');
      e.classList.remove('size-m');
    } else {
      localStorage.setItem('size', 'm');
      e.classList.add('size-m');
      e.classList.remove('size-l');
    }
  };
  document.querySelector('.th-size').addEventListener('click', ToggleSize);
</script>
