<div class='hero text-center _full mb-4 md:mb-5 lg:mb-6 xl:mb-[30px] pt-16 px-4 pb-12 md:pt-20 md:px-5 md:pb-[60px] lg:pt-24 lg:px-24 lg:pb-[72px] xl:pt-[120px] xl:px-[30px] xl:pb-[90px]'>
  <h1 class="mt-0 text-[3.2em]">ЁЯЗ╣ЁЯЗн ThaiUI + Astro ЁЯЪА</h1>
  <h2 class="text-[1.5em] font-normal">р╕Хр╕▒р╕зр╕нр╕вр╣Ир╕▓р╕Зр╣Вр╕Др╣Йр╕Фр╕гр╕╣р╕Ыр╣Бр╕Ър╕Ър╕Хр╣Ир╕▓р╕Зр╣Ж р╕кр╕│р╕лр╕гр╕▒р╕Ър╕Бр╕▓р╕гр╕кр╕гр╣Йр╕▓р╕Зр╣Ар╕зр╣Зр╕Ър╣Др╕Лр╕Хр╣Мр╕ар╕▓р╕йр╕▓р╣Др╕Чр╕в</h2>
  <p>р╣Гр╕Кр╣Й HTML/CSS/JS р╕Ир╕▓р╕Б ThaiUI р╕бр╕▓р╕Ыр╕гр╕░р╕Бр╕нр╕Ър╣Гр╕Щр╣Вр╕Др╕гр╕Зр╕кр╕гр╣Йр╕▓р╕Зр╕Вр╕нр╕З Astro web framework</p>
</div>

<style lang='scss'>
  .hero {
    background: linear-gradient(180deg, #e3edfe 0%, rgba(227, 237, 254, 0) 100%);
    html._dark & {
      background: linear-gradient(180deg, #111111 0%, rgba(26, 26, 26, 0) 100%);
    }
  }
</style>
