<div
  class='hero text-center _full mb-4 md:mb-5 lg:mb-6 xl:mb-[30px] pt-16 px-4 pb-12 md:pt-20 md:px-5 md:pb-[60px] lg:pt-24 lg:px-24 lg:pb-[72px] xl:pt-[120px] xl:px-[30px] xl:pb-[90px]'
>
  <h1 class='mt-0 text-[3.2em]'>🇹🇭 ThaiUI + Astro 🚀</h1>
  <h2 class='text-[1.5em] font-normal'>
    ตัวอย่างโค้ดรูปแบบต่างๆ สำหรับการสร้างเว็บไซต์ภาษาไทย
  </h2>
  <p>ใช้ HTML/CSS/JS จาก ThaiUI มาประกอบในโครงสร้างของ Astro web framework</p>
</div>

<style lang='scss'>
  .hero {
    background: linear-gradient(
      180deg,
      #e3edfe 0%,
      rgba(227, 237, 254, 0) 100%
    );
    html._dark & {
      background: linear-gradient(180deg, #111111 0%, rgba(26, 26, 26, 0) 100%);
    }
  }
</style>
