---
import { Icon } from 'astro-icon';
---

<footer
  id='foot'
  class='mt-auto p-4 md:p-5 bg-th-foot-bg dark:bg-th-foot-bg-dark text-th-foot-text text-xs text-center leading-[1.2rem]'
>
  <div class='w-full max-w-th-width-lg mx-auto px-4 md:px-5'>
    © 2024. <a
      href='https://thaiui.org/'
      class='text-th-foot-text hover:text-white hover:opacity-80'>ThaiUI</a
    > All Rights Reserved.
  </div>
</footer>
