---
import Layout from '../../layouts/Layout.astro';
import Footer1 from '../../components/footers/Footer1.astro';
import Footer2 from '../../components/footers/Footer2.astro';
import Footer3 from '../../components/footers/Footer3.astro';

const title = 'ตัวอย่างส่วนหัว';
const description = 'Starter Theme for Astro by Seed Webs';
---

<Layout title={title} description={description}>
  <div class='bg-dark _full bg-black text-[#ddd]'>
    <div class='w-full max-w-th-width-lg mx-auto px-4 md:px-5'>
      <h1>ตัวอย่างส่วนท้าย</h1>
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Footer1 />
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Footer2 />
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Footer3 />
    </div>
  </div>
</Layout>
