---
import Layout from '../../layouts/Layout.astro';
import Header1 from '../../components/headers/Header1.astro';
import Header2 from '../../components/headers/Header2.astro';
import Header3 from '../../components/headers/Header3.astro';
const title = 'ตัวอย่างส่วนหัว';
const description = 'Starter Theme for Astro by Seed Webs';
---

<Layout title={title} description={description}>
  <div class='bg-dark _full bg-th-bg-dark dark:bg-th-bg-dark-dark text-[#ddd]'>
    <div class='w-full max-w-th-width-lg mx-auto px-4 md:px-5'>
      <h1>ตัวอย่างส่วนหัว</h1>
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Header1 />
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Header2 />
    </div>
    <div class='py-8 md:py-10 lg:py-12 xl:py-[60px]'>
      <Header3 />
    </div>
  </div>
</Layout>
